<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="General Suite" verbose="1">
    <test name="Json Parser tests">
        <classes>
            <class name="parser.JsonParserTest">
                <methods>
                    <exclude name="parserWritePositive"/>
                </methods>
            </class>
        </classes>
    </test>

    <test name="Shop tests">
        <classes>
            <class name="shop.CartTest"/>
            <class name="shop.RealItemTest"/>
            <class name="shop.VirtualItemTest">
            </class>
        </classes>
    </test>
</suite>
